## gradle
/.gradle
/build
/gradle
/gradlew
/gradlew.bat

## ForgeGradle
/run

## eclipse
/eclipse
/.settings
/.metadata
/.classpath
/.project
/bin
/lib

## misc
/build.bat
/setupDecompWorkspace.bat
/setupEclipse.bat
/forge-*-changelog.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/CREDITS-fml.txt